* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Montserrat Reguler", sans-serif;
  }

  section {
    overflow: hidden;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #14e5ab;
    text-transform: uppercase;
  }

  h1 {
    font-family: "Montserrat Black", sans-serif;
    font-size: 67.5px;
  }

  h2 {
    font-size: 40px;
    font-family: "Montserrat Black", sans-serif;
    line-height: 1;
  }

  h3 {
    font-size: 30px;
    font-family: "Montserrat Black", sans-serif;
  }

  h4 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }

  input[type=radio],
  input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }

  .btn {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 20px;
    cursor: pointer;
  }

  .btn-tosca {
    background-color: #14e5ab;
    color: #102d51;
  }

  .btn-primary {
    background-color: #12305B;
    color: #14E5AB;
  }

  .btn-sm {
    font-size: 16px;
    padding: 10px 20px;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 40px 0;
  }

  header .container {
    display: flex;
    align-items: flex-end;
  }

  header .container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
  }

  header .container > div > nav > * {
    color: #fff;
    text-transform: uppercase;
    margin-right: 50px;
  }

  header .container > div > a {
    color: #14e5ab;
    text-transform: capitalize;
  }

  .header-dark {
    background-color: #0C2440;
  }

  .first {
    padding-top: 107px;
    height: 570px;
    background: #102d51 url("images/garis.png") 0% 95% no-repeat;
    background-size: contain;
    position: relative;
  }

  .gradient-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to top,
      rgba(20, 229, 173, 0.2),
      rgba(20, 229, 173, 0)
    );
  }

  .first .container > div {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .first img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 100%;
  }

  .first .caption {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: 1;
  }

  .first .btn-tosca {
    margin-top: 15%;
  }

  .second {
    margin-top: 90px;
  }

  .second .container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .second .left {
    width: 45%;
  }

  .second iframe {
    width: 50%;
    height: 305px;
  }

  .second .desc {
    margin-top: 10px;
  }

  .second .desc p {
    font-size: 18px;
    font-family: "Montserrat Light", sans-serif;
    color: #6b6b6b;
  }

  .second .desc a {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #102d51;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
  }

  .fourth {
    background-color: #fd549fff;
  }
  .fourth .banner {
    width: 100%;
    display: inline-block;
  }
  .fourth .banner img {
    width: 100%;
  }

  .fifth,
  .sixth {
    background-size: 5%;
  }

  .fifth {
    background-color: #12305b;
    background-image: url("images/doodle_sneaker.png"),
      url("images/doodle_note1.png"), url("images/doodle_game.png"),
      url("images/doodle_hat.png"), url("images/doodle_note2.png");
    background-position: 5% 20%, 20% 10%, 85% 15%, 25% 90%, 90% 80%;
    background-repeat: no-repeat;
  }

  .sixth {
    position: relative;
    height: 633px;
    background-color: #0f284d;
    background-image: url("images/doodle_people1.png"),
      url("images/doodle_people2.png"), url("images/doodle_people3.png"),
      url("images/doodle_people4.png");
    background-position: 50% 15%, 20% 80%, 60% 75%, 90% 80%;
    background-repeat: no-repeat;
  }

  .sixth .container > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sixth h1 {
    font-size: 60px;
  }

  .sixth a {
    margin-right: 40px;
  }

  .slider-section {
    padding: 95px 0;
    text-align: center;
  }

  .slider-section h2 {
    margin-bottom: 50px;
  }

  .slider-section .btn-tosca {
    margin-top: 50px;
  }

  .slider-wrapper {
    margin: 0 -6.5%;
    width: 100%;
    padding: 0 6.5%;
    position: relative;
  }

  .slider-wrapper .slider-content {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 368px;
  }

  .slider-wrapper > img {
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .slider-wrapper > img.prev {
    left: 0;
  }

  .slider-wrapper > img.next {
    right: 0;
  }

  .slider-wrapper .slider-item {
    transition: all 0.5s ease;
    width: 30%;
    margin: 0 1.5%;
    padding-top: 30%;
    overflow: hidden;
    text-align: start;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .slider-wrapper .slider-item.slider-4 {
    left: 100%;
  }
  .slider-wrapper .slider-item.slider-0 {
    left: -33.3%;
  }
  .slider-wrapper .slider-item.slider-2 {
    left: 33.3%;
  }

  .slider-wrapper .slider-item.slider-3 {
    left: 66.6%;
  }

  .card-box {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    justify-content: flex-start;
    align-items: center;
  }

  .card-box-item {
    width: 30%;
    height: 340px;
    margin: 1.5%;
    position: relative;
    overflow: hidden;
  }

  .card-box-item > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
  }

  .card-box-item:hover > img {
    transform: scale(1.2);
  }

  .slider-wrapper .slider-item > a,
  .card-box-item > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0)
    );
  }

  @media screen and (max-width: 768px) {
    .card-box-item {
      width: 45%;
      margin: 2.5%;
    }
  }

  @media screen and (max-width: 576px) {
    .card-box-item {
      width: 100%;
    }
  }

  .slider-wrapper .slider-item > img {
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }

  .slider-wrapper .slider-item:focus > img,
  .slider-wrapper .slider-item:hover > img {
    transform: scale(1.2);
  }

  .slider-wrapper .slider-item > a > .text,
  .card-box-item > a > .text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    color: #fff;
    font-weight: bold;
  }

  .slider-wrapper .slider-item > a > .text p,
  .card-box-item > a > .text p {
    font-size: 16px;
    margin-top: 5px;
    text-transform: uppercase;
  }

  .slider-wrapper .slider-item > a > .text span,
  .card-box-item > a > .text span {
    font-size: 11.2px;
    margin-top: 10px;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 18px;
    }

    .slider-section {
      padding: 55px 0;
    }

    .slider-section h2 {
      margin-bottom: 0;
    }

    .slider-section .btn-tosca {
      margin-top: 0;
    }

    .slider-wrapper .slider-item > a > .text p {
      font-size: 12px;
    }

   .slider-wrapper .slider-content {
      height: 300px;
    }
    header .container > div {
      font-size: 16px;
    }

    header .container > div > nav > * {
      margin-right: 25px;
    }

    .first {
      padding-top: 107px;
      height: 470px;
    }

    .second .container > div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      /* optional */
      -webkit-box-align: start;
      -moz-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
    }

    .second .container > div > *,
    .sixth .container > div > * {
      width: 100%;
    }

    .second .container > div .left {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
      margin-top: 20px;
    }

    .second .container > div iframe {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }

    .fifth,
    .sixth {
      background-size: 10%;
    }

    .sixth {
      height: 433px;
    }

    .sixth .container > div {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .sixth h1 {
      font-size: 30px;
    }

    .sixth .container > div a {
      margin: 20px 0 0 0;
    }
  }

  @media screen and (max-width: 425px) {
    header .container > div {
      font-size: 14px;
      margin-bottom: 20px;
    }

    header .container > div > nav > * {
      margin-right: 15px;
    }

    .slider-wrapper .slider-item.slider-4 {
      left: 330%;
    }
    .slider-wrapper .slider-item.slider-0 {
      left: -110%;
    }
    .slider-wrapper .slider-item.slider-2 {
      left: 110%;
    }

    .slider-wrapper .slider-item.slider-3 {
      left: 220%;
    }

    .slider-wrapper .slider-content {
      width: 85%;
      margin: 0 auto;
      height: 380px;
    }

    .slider-wrapper .slider-item {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding-top: 100%;
    }
  }

  /* Modal Style */
  .modal-open {
    overflow: hidden;
  }

  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }

  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
  }

  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }

  .modal.show .modal-dialog {
    transform: none;
  }

  .modal.modal-static .modal-dialog {
    transform: scale(1.02);
  }

  .modal-dialog-scrollable {
    display: flex;
    max-height: calc(100% - 1rem);
  }

  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden;
  }

  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
    flex-shrink: 0;
  }

  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
  }

  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
  }

  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    content: "";
  }

  .modal-dialog-centered.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none;
  }

  .modal-dialog-centered.modal-dialog-scrollable::before {
    content: none;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }

  .modal-backdrop.fade {
    opacity: 0;
  }

  .modal-backdrop.show {
    opacity: 0.5;
  }

  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 2rem;
  }

  .modal-header .close {
    padding: 2rem 2rem;
    margin: -2rem -2rem -2rem auto;
  }

  .modal-title {
    margin-bottom: 0;
    line-height: 1.6;
    color: #102d51;
    text-transform: none;
  }

  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0 2rem;
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem 2rem;
  }

  .modal-footer > * {
    margin: 0.25rem;
  }

  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 316px;
      margin: 8.75rem auto;
    }

    .modal-dialog-scrollable {
      max-height: calc(100% - 3.5rem);
    }

    .modal-dialog-scrollable .modal-content {
      max-height: calc(100vh - 3.5rem);
    }

    .modal-dialog-centered {
      min-height: calc(100% - 3.5rem);
    }

    .modal-dialog-centered::before {
      height: calc(100vh - 3.5rem);
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
    }

    .modal-sm {
      max-width: 300px;
    }
  }

  @media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
      max-width: 800px;
    }
  }

  @media (min-width: 1200px) {
    .modal-xl {
      max-width: 1140px;
    }
  }

  .login-other {
    font-weight: 600;
    color: #102d51;
    font-size: 14px;
  }

  .login-other a {
    color: #dc2e2e;
  }

  .form-auth {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-auth label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #102d51;
    font-size: 1rem;
  }

  .form-auth input {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #c1c1c1;
    height: 1.75rem;
  }

  /* end Modal Style */


  /* Form Check */
  .form-check {
    position: relative;
    display: block;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }

  .form-check-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
  }

  .form-check-input[disabled] ~ .form-check-label,
  .form-check-input:disabled ~ .form-check-label {
    color: #6c757d;
  }

  .form-check-label {
    margin-bottom: 0;
    color: #102d51;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    position: relative;
    vertical-align: top;
  }

  .form-check-input:checked~.form-check-label::before {
    color: #fff;
    border-color: #102d51;
    background-color: #102d51;
  }

  .form-check-label::before {
    position: absolute;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #102d51 solid 2px;
  }

  .form-check-label::after {
    position: absolute;
    top: -5px;
    left: -30px;
    display: block;
    width: 32px;
    height: 30px;
    content: "";
    background: no-repeat 50%/50% 50%;
  }

  .form-check .form-check-input:checked~.form-check-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
  }

  .form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: 0.75rem;
  }

  .form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
  }
  /* end Form Check */

  .btn-auth {
    margin-top: 1rem;
  }

  .btn-load-more {
    margin: 40px auto;
  }
